https://gis.stackexchange.com/questions/364421/how-to-make-proj-work-via-anaconda-in-google-colab

In [3]:
import geopandas as geopd
import pydeck as pdk

emd_shp_path="/home/jovyan/work/data/data_source/gisdeveloper.co.kr/region/EMD/20220324/emd.shp"
emd = geopd.read_file(emd_shp_path, layer="emd", encoding='euc-kr')
emd.head()

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,geometry
0,11110101,Cheongun-dong,청운동,"POLYGON ((953700.022 1954605.065, 953693.871 1..."
1,11110102,Singyo-dong,신교동,"POLYGON ((953233.465 1953996.984, 953235.183 1..."
2,11110103,Gungjeong-dong,궁정동,"POLYGON ((953560.228 1954257.466, 953561.190 1..."
3,11110104,Hyoja-dong,효자동,"POLYGON ((953519.843 1953890.785, 953518.489 1..."
4,11110105,Changseong-dong,창성동,"POLYGON ((953516.123 1953734.362, 953516.526 1..."

In [14]:
import pandas as pd

# pd.read_csv('')
sample_csv_path="/home/jovyan/work/data/data_source/data.go.kr/market/20220331/"
sample_csv_name="소상공인시장진흥공단_상가(상권)정보_경기_202203.csv"
sample_csv = ''.join([sample_csv_path, sample_csv_name])
sample_ds = pd.read_csv(sample_csv)
sample_ds.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20713599,눈높이러닝센타,NaN,R,학문/교육,R13,학문교육기타,R13A01,학습지보급,P85503,...,4121010100101490006003352,NaN,경기도 광명시 오리로 946,423010.0,14221.0,NaN,NaN,NaN,126.858147,37.478530
1,24510829,엠아이케이21,NaN,D,소매,D14,운동/경기용품소매,D14A01,운동/경기용품,G47631,...,4113511400102400000029712,무지개마을동아아파트,경기도 성남시 분당구 구미로144번길 8,463937.0,13622.0,901,NaN,NaN,127.123291,37.340903
2,20544673,큰손의정부부대찌개,NaN,Q,음식,Q01,한식,Q01A07,부대찌개/섞어찌개,I56111,...,4157010500105920005020787,NaN,경기도 김포시 감정로 32,415010.0,10104.0,NaN,2,NaN,126.699974,37.620590
3,20547769,프리드림,NaN,D,소매,D16,화장품소매,D16A01,화장품판매점,G47813,...,4119710500103360019001506,NaN,경기도 부천시 송내대로30번길 75-4,422815.0,14720.0,NaN,1,NaN,126.757531,37.486210
4,23323139,앞족애,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4115011000108360013012926,NaN,경기도 의정부시 둔야로 38,480819.0,11674.0,NaN,1,NaN,127.039861,37.739330

In [16]:
coffee_ds = sample_ds[['상호명','지점명', '상권업종대분류명', '도로명주소', '경도', '위도']]
coffee_ds.head()

         상호명  지점명 상권업종대분류명                   도로명주소          경도         위도
0    눈높이러닝센타  NaN    학문/교육         경기도 광명시 오리로 946  126.858147  37.478530
1    엠아이케이21  NaN       소매  경기도 성남시 분당구 구미로144번길 8  127.123291  37.340903
2  큰손의정부부대찌개  NaN       음식          경기도 김포시 감정로 32  126.699974  37.620590
3       프리드림  NaN       소매   경기도 부천시 송내대로30번길 75-4  126.757531  37.486210
4        앞족애  NaN       음식         경기도 의정부시 둔야로 38  127.039861  37.739330

In [ ]:
import pdeck as pdk

layer = pdk.Layer(